.titlee {
    text-align: center;
    font-size: 3rem;
    margin: auto;
    font-weight: bold;
    transition: 0.4s;
    z-index: 10;
}

:hover.titlee {
    color: rgb(255, 85, 0);
}

.btnnn {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 40px;
    text-align: center;
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
    z-index: 10;
}

#ssbtn {
    margin-bottom: 35px;
}

.btnnn:hover {
    scale: 1.1;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}