@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredoka+One&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;800&display=swap');

body {
    font-family: 'Dosis', sans-serif;
}

.titlee {
    text-align: center;
    font-size: 3rem;
    margin: auto;
    font-weight: bold;
    transition: 0.4s;
    z-index: 10;
    font-family: 'Dosis', sans-serif;

}

:hover.titlee {
    color: rgb(255, 85, 0);
}

.btnnn {
    padding: 8px 32px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
    z-index: 10;
}

#ssbtn {
    margin-top: 0px;
    margin-bottom: 35px;
}

.btnnn:hover {
    scale: 1.03;
    background-color: rgb(227, 225, 225);
    color: rgb(0, 0, 0);
}