.logo {
    width: 100vw;
    height: 100vh;
}

.loader {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: black;
    transition: opacity 7s, visibility 7s;
    background: black url(final.gif) no-repeat center center;
}

.loader--hidden {
    opacity: 0.75;
    visibility: hidden;
}
