.media-container {
  padding: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: black;
  width: 100vw;
}

.media-scroller {
  display: flex;
  gap: 0.3vw;
  flex-direction: row;
}

.media-element {
  width: 10vw;
  height: 70vh;
  color: white;
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.media-element:hover {
  width: 25vw;
}

.media-scroller:hover .media-element:not(:hover) {
  opacity: 0.8;
}

.year-heading {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background: transparent;
  backdrop-filter: blur(4px);
  font-size: 4rem;
  filter: brightness(1.2);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.media-element:hover > .year-heading {
  display: none;
}

.year-info {
  display: none;
  position: absolute;
  top: 68%;
  padding: 12px;
  background: transparent;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.3rem;
}

.media-element:hover > .year-info {
  display: block;
  animation: fadeIn 2s;
}

.button-54 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  background-color: #111;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: none;
  position: absolute;
  bottom: 3%;
  right: 3%;
  animation: fadeIn 2s;
  white-space: nowrap;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
}

.media-element:hover > .button-54 {
  display: block;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .media-container {
    padding: 20px 5px;
  }

  .media-scroller {
    flex-direction: column;
    gap: 0.3rem;
  }

  .media-element {
    width: 90vw;
    height: 18vh;
    transition: height 0.5s ease-in-out;
  }

  .media-element:hover {
    width: 90vw;
    height: 54vh;
  }

  .year-heading {
    writing-mode: horizontal-tb;
    text-orientation: upright;
    width: 58vw;
    text-align: center;
  }

  .year-info {
    top: 54%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .media-container {
    padding: 20px 5px;
  }

  .media-scroller {
    flex-direction: column;
    gap: 0.3rem;
  }

  .media-element {
    width: 90vw;
    height: 18vh;
    transition: height 0.5s ease-in-out;
  }

  .media-element:hover {
    width: 90vw;
    height: 54vh;
  }

  .year-heading {
    writing-mode: horizontal-tb;
    text-orientation: upright;
    width: 58vw;
    text-align: center;
  }

  .year-info {
    top: 54%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .media-element:hover {
    width: 28vw;
  }

  .year-info {
    top: 54%;
  }

  .media-element:hover > .button-54 {
    display: none;
  }

  .button-54 {
    padding: 0.25em 0.75em;
  }
}

@media only screen and (min-width: 1024px) {
  .media-element:hover > .button-54 {
    display: none;
  }
}

/* second page gallery css */
.cancel-button {
  position: fixed;
  top: 16px;
  right: 16px;
  height: 30px;
  width: 30px;
  z-index: 100;
  cursor: pointer;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.img-co {
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.img-co:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
